{% load static %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'index' %}">Início</a>
</li>
{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'imoveis_lista' %}">Imoveis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'clientes_lista' %}">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'locadores_lista' %}">Locadores</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'energia_lista' %}">Energia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'imoveis_logout' %}">Logout</a>
    </li>
{% endif %}
