{% extends "shared/base.html" %}
{% load static %}
{% block content %}
<form method='POST' action='{% url 'contrato' registro_id %}'>
{% csrf_token %}
<input type='hidden' name='registro_id' value={{ registro_id}}>
{% for field in form %}
<div class="form-group">
  <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
  {{ field }}
</div>
{% endfor %}
<div class="rodapetabela mt-3 mb-5">
<button class="botaosalvar" type='submit'>Criar contrato</button>
</div>
</form>
{% endblock content %}
