{% extends "shared/base.html" %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Relogio 1</th>
                    <th>Kitnet 1</th>
                    <th>Relogio 2</th>
                    <th>Kitnet 2</th>
                    <th>Relogio 3</th>
                    <th>Kitnet 3</th>
                    <th>Valor por kWh</th>
                    <th>Valor da Conta</th>
                    <th colspan="3">
                        <a class="btn btn-sm btn-success btn-form"
                           href="{% url 'energia_inserir' %}">Inserir</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if registros %}
                    {% for registro in registros %}
                        <tr>
                            <td class="number celulabranca">{{ registro.data|date:"d/m/Y" }}</td>
                            <td class="number relogio1">{{ registro.relogio_1 }}</td>
                            <td class="number relogio1"
                                {% if registro.id == ultimo %}style="color: red; font-weight: bold;"{% endif %}>
                                {{ registro.energia_1|floatformat:2 }}
                            </td>
                            <td class="number relogio2">{{ registro.relogio_2 }}</td>
                            <td class="number relogio2"
                                {% if registro.id == ultimo %}style="color: red; font-weight: bold;"{% endif %}>
                                {{ registro.energia_2|floatformat:2 }}
                            </td>
                            <td class="number relogio3">{{ registro.relogio_3 }}</td>
                            <td class="number relogio3"
                                {% if registro.id == ultimo %}style="color: red; font-weight: bold;"{% endif %}>
                                {{ registro.energia_3|floatformat:2 }}
                            </td>
                            <td class="number celulabranca">{{ registro.valor_kwh }}</td>
                            <td class="number celulabranca">{{ registro.valor_conta }}</td>
                            {% if registro.id == ultimo %}
                                <td class="celulabranca">
                                    <a href="{% url 'energia_editar' registro.id %}"
                                       class="btn btn-sm btn-secondary btn-form">alterar</a>
                                </td>
                            {% endif %}
                            <td class="center celulabranca"></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="table-primary adicionar celulabranca" colspan="12">&nbsp;</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% else %}
        <div class="pedelogin">favor fazer login</div>
    {% endif %}
{% endblock content %}
