{% extends "shared/base.html" %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Relogio 1</th>
                    <th class='energia-destaque'>
                        {% if labels is not None %}
                            {{ labels.relogio_1 }}
                        {% endif %}</th>
                    <th>Relogio 2</th>
                    <th class='energia-destaque'>
                        {% if labels is not None %}
                            {{ labels.relogio_2 }}
                        {% endif %}</th>
                    <th>Relogio 3</th>
                    <th class='energia-destaque'>
                        {% if labels is not None %}
                            {{ labels.relogio_3 }}
                        {% endif %}</th>
                    <th>Valor por kWh</th>
                    <th>Valor da Conta</th>
                    <th colspan="3">
                        <a class="btn btn-sm btn-success btn-form no-print"
                           href="{% url 'energia_inserir' %}">Inserir</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if registros is not None %}
                    {% for registro in registros %}
                        <tr>
                            <td class="number celulabranca">{{ registro.data|date:"d/m/Y" }}</td>
                            <td class="number relogio1">{{ registro.relogio_1 }}</td>
                            <td class="number relogio1{% if registro.id == ultimo %} energia-destaque{% endif %}">
                                <span class="no-format">R$ </span>
                                {{ registro.energia_1|floatformat:2 }}
                                <span class="no-format"> ({{ registro.porcentagem_1 }}%)</span>
                            </td>
                            <td class="number relogio2">{{ registro.relogio_2 }}</td>
                            <td class="number relogio2{% if registro.id == ultimo %} energia-destaque{% endif %}">
                                <span class="no-format">R$ </span>
                                {{ registro.energia_2|floatformat:2 }}
                                <span class="no-format"> ({{ registro.porcentagem_2 }}%)</span>
                            </td>
                            <td class="number relogio3">{{ registro.relogio_3 }}</td>
                            <td class="number relogio3{% if registro.id == ultimo %} energia-destaque{% endif %}">
                                <span class="no-format">R$ </span>
                                {{ registro.energia_3|floatformat:2 }}
                                <span class="no-format"> ({{ registro.porcentagem_3 }}%)</span>
                            </td>
                            <td class="number celulabranca">{{ registro.valor_kwh }}</td>
                            <td class="number celulabranca">{{ registro.valor_conta }}</td>
                            {% if registro.id == ultimo %}
                                <td class="celulabranca">
                                    <a href="{% url 'energia_editar' registro.id %}"
                                       class="btn btn-sm btn-secondary btn-form no-print">alterar</a>
                                </td>
                            {% endif %}
                            <td class="center celulabranca"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td class="table-primary adicionar celulabranca no-print" colspan="12">
                        <div class="div-botaoeditar">
                            <a class='botaoeditar' href="{% url 'labels_editar' %}">editar labels</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <dl>
            <dt>MÉTODO DE CÁLCULO:</dt>
            <dd>- Subtrai a leitura do mês atual pela do mês anterior de cada inquilino;</dd>
            <dd>- Soma o resultado dos três inquilinos para chegar ao total gasto no mês, em kWh;</dd>
            <dd>- Calcula a porcentagem de kWh consumidos de cada inquilino em relação ao total;</dd>
            <dd>- A porcentagem que cada inquilino usou dos kWh totais consumidos no mês será a porcentagem que ele pagará da conta;</dd>
            <dd>- A porcentagem de cada inquilino sobre o total da conta aparece ao lado do valor.</dd>
            </ul>
        </dl>
    {% else %}
        <div class="pedelogin">favor fazer login</div>
    {% endif %}
{% endblock content %}
