
{% extends "shared/base.html" %}
{% load static %}
{% load extrai_locatario %}
{% block content %}
<h2>Contas de energia em aberto</h2>
<div class='lista-historico'>
    {% if contas_energia %}
        <table class='table-historico'>
            {% for conta in contas_energia %}
                <tr>
                    {% if conta.mensagem %}
                        <td>{{ conta.mensagem }}</td>
                    {% else %}
                        <td>{{ conta.mes_ano }}</td>
                        <td>{{ conta.vencimento }}</td>
                        <td>{{ conta.valor }}</td>
                        <td><a class="link" target="#" href={{ conta.link }}>baixar conta</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h3>
        Não há contas em aberto, ou dados da ELFSM incorretos/não cadastrados.
    </h3>
    {% endif %}
</div>
<h2>Histórico de contratos impressos</h2>
<div class="lista-historico">
    
    {% if contratos %}
        {% for contrato in contratos %}
        <div class="linha-lista-contratos">
            <a href="{% url 'contrato_imprimir'  contrato.id %}" target=#>
                {{ contrato.data_impressao|date:'d/m/Y' }} -
                {{ contrato.texto|extrai_locatario }}
            </a>
        </div>
        {% endfor %}
    {% else %}
        <table class='table-historico'>
            <tr>
                <td>Sem contratos salvos para listar.</td>
            </tr>
        </table>
    {% endif %}
</div>
<h2>Histórico de dados alterados</h2>
<div class='lista-historico'>
    {% if historico %}
        <table class='table-historico'>
            <tr>
                <th>data</th>
                <th>tipo</th>
                <th>numero</th>
                <th>local</th>
                <th>valor</th>
                <th>complemento</th>
                <th>observação</th>
                <th>dia</th>
                <th>nome do cliente</th>
                <th>cpf/cnpj</th>
            </tr>
            {% for dado in historico %}
                <tr>
                    <td>{{ dado.data|date:'d/m/Y' }}</td>
                    <td>{{ dado.tipo }}</td>
                    <td class='number'>{{ dado.numero }}</td>
                    <td>{{ dado.local }}</td>
                    <td class='number'>{% if dado.valor != None %} {{ dado.valor }} {% endif %}</td>
                    <td>{% if dado.complemento != None %} {{ dado.complemento }} {% endif %}</td>
                    <td>{% if dado.observacao != None %} {{ dado.observacao }} {% endif %}</td>
                    <td class='number'>{% if dado.dia != None %} {{ dado.dia }} {% endif %}</td>
                    <td> {% if dado.cliente_nome != None %} {{ dado.cliente_nome }} {% endif %}</td>
                    <td class='number'>{% if dado.cliente_cpf_cnpj %} {{ dado.cliente_cpf_cnpj }}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <table class='table-historico'>
            <tr>
                <td>Sem histórico para mostrar.</td>
            </tr>
        </table>
    {% endif %}
</div>
{% endblock content %}
